<html>
<head>
	<title>Admin Password Center</title>
	<meta http-equiv="content-type" content="text/html;">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/static/styles/style.css" media="screen" />
<link rel="stylesheet" href="/static/styles/media-queries.css" />
<link href="/static/styles/prettyPhoto.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/styles/tipsy.css" rel="stylesheet" type="text/css" media="screen" />
<style>
table {
 width: 600px;
 margin-top: 10px;
 margin-bottom: 10px;
}
table td {
 padding: 8px;
}
.td_left {
 width: 150px;
 vertical-align: top;
}
.td_right {

}
.td_info {
 width: 150px;
 color: #666;
 font-size: 10px;
 vertical-align: top;
}
.td_button {
 border-top: 1px solid #e8e8e8;
}
.mini {
 color: #666;
 font-size: 10px;
}
.correct {
 color: green;
 font-size: 10px;
}
.acorrect {
 color: red;
 font-size: 10px;
}
</style>
<script type="text/javascript" charset="utf-8">
function CountLogin(item) {
var item_view = 'login_view';
var item_correct = 'login_correct';
document.getElementById(item_view).innerHTML = document.getElementById(item).value.length++; 
 if (document.getElementById(item).value.length >= 5) {
  document.getElementById(item_correct).innerHTML = 'correct';
  document.getElementById(item_correct).className = 'correct';
  document.getElementById('check_login').value = 1;
 } else {
  document.getElementById(item_correct).innerHTML = 'no more 5 symbols';
  document.getElementById(item_correct).className = '';
  document.getElementById('check_login').value = 0;
 }
 checkAll(); 
}


function CountPass(item) {
var item_view = 'pass_view';
var item_correct = 'pass_correct';
var item_login_value = document.getElementById('login_id').value;
var item_login_length = document.getElementById('login_id').value.length;
document.getElementById(item_view).innerHTML = document.getElementById(item).value.length++; 
 if (document.getElementById(item).value == item_login_value && item_login_length >= 5) {
  document.getElementById(item_correct).innerHTML = 'pass == login';
  document.getElementById(item_correct).className = 'acorrect';
  document.getElementById('check_pass').value = 0;
 } else {
  if (document.getElementById(item).value.length >= 4) {
   document.getElementById(item_correct).innerHTML = 'correct';
   document.getElementById(item_correct).className = 'correct';
   document.getElementById('check_pass').value = 1;
  } else if (document.getElementById(item).value.length < 4) {
   document.getElementById(item_correct).innerHTML = 'password have 4 to 20 symbols';
   document.getElementById(item_correct).className = '';
   document.getElementById('check_pass').value = 0;
  }
 }
 checkAll();
}

function CorrectPass(item) {
var item_pass_value = document.getElementById('pass_id').value;
var item_pass_length = document.getElementById('pass_id').value.length
var item_correct = 'repass_correct';
 if (item_pass_length >= 4) {
  if (document.getElementById(item).value == item_pass_value) {
    document.getElementById(item_correct).innerHTML = 'correct';
    document.getElementById(item_correct).className = 'correct';
    document.getElementById('check_repass').value = 1;
  } else if (document.getElementById(item).value.length >= 4) {
    document.getElementById(item_correct).innerHTML = 'password not ..';
    document.getElementById(item_correct).className = 'acorrect';
    document.getElementById('check_repass').value = 0;
  }
 }
 checkAll();
}


function isEmail(item) {
var at="@"
var dot="."
var lat=item.indexOf(at)
var litem=item.length
var ldot=item.indexOf(dot)
if (item.indexOf(at)==-1) return false;	
if (item.indexOf(at)==-1 || item.indexOf(at)==0 || item.indexOf(at)==litem) return false;
if (item.indexOf(dot)==-1 || item.indexOf(dot)==0 || item.indexOf(dot) >= litem - 2) return false;
if (item.indexOf(at,(lat+1))!=-1) return false;
if (item.substring(lat-1,lat)==dot || item.substring(lat+1,lat+2)==dot) return false;
if (item.indexOf(dot,(lat+2))==-1) return false;
if (item.indexOf(" ")!=-1) return false;
return true	
}

function CorrectEmail(item) {
 if(isEmail(item.value) == true) {
  document.getElementById('email_correct').innerHTML = 'correct';
  document.getElementById('email_correct').className = 'correct';
  document.getElementById('check_email').value = 1;
 } else {
   document.getElementById('email_correct').innerHTML = '';
   document.getElementById('check_email').value = 0;
 }
 checkAll();
}


function checkAll() {
var x;
var check_login = document.getElementById('check_login').value;
var check_pass = document.getElementById('check_pass').value;
var check_repass = document.getElementById('check_repass').value;
var check_email = document.getElementById('check_email').value;
  x = check_login + check_pass + check_repass + check_email;
  document.getElementById('check_all').value = x;
 if (document.getElementById('check_all').value == 1111) {
  document.getElementById('submit_id').disabled = false;
 } else {
  document.getElementById('submit_id').disabled = true;
 }
}
</script>
</head>
<body>
<form name="registration">
<table >
<tr>
<td class="td_left">Login</td>

<td class="td_right"><input type="text" name="login" id="login_id" size="40" 
onkeypress="CountLogin('login_id')" onfocus="CountLogin('login_id')" 
onkeyup="CountLogin('login_id')" value="" />
<div class="mini">writing: <span id="login_view">0</span></div>
</td>
<td class="td_info"><div id="login_correct">no more 5 symbols</div></td>

</tr>
<tr>
<td class="td_left">Password</td>
<td class="td_right"><input type="password" name="pass" id="pass_id" maxlength="20" size="40" 
onkeypress="CountPass('pass_id')" onfocus="CountPass('pass_id')" 
onkeyup="CountPass('pass_id')" value="" />
<div class="mini">writing: <span id="pass_view">0</span></div>

</td>
<td class="td_info"><div id="pass_correct">Password have 4 to 20 symbols</div></td>
</tr>
<tr>
<td class="td_left">Repeat password</td>
<td class="td_right"><input type="password" name="repass" size="40" id="repass_id" 
onkeypress="CorrectPass('repass_id')" onfocus="CorrectPass('repass_id')" 
onkeyup="CorrectPass('repass_id')" value="" /></td>

<td class="td_info"><div id="repass_correct"></div></td>
</tr>
<tr>
<td class="td_left">Email</td>
<td class="td_right"><input type="text" name="email" size="40" id="email_id" 
onkeypress="CorrectEmail(this)" onfocus="CorrectEmail(this)" 
onkeyup="CorrectEmail(this)" value="" /></td>

<td class="td_info"><div id="email_correct"></div></td>
</tr>
<tr>
<td class="td_button" colspan="3"><input type="submit" name="submit" id="submit_id" 
value="Register" disabled />
<div id="check_correct"></div>
</td>

</tr>
</table>
<input type="hidden" name="check_login" id="check_login" value="0" />
<input type="hidden" name="check_pass" id="check_pass" value="0" />
<input type="hidden" name="check_repass" id="check_repass" value="0" />
<input type="hidden" name="check_email" id="check_email" value="0" />
<input type="hidden" name="check_all" id="check_all" value="0" />
</form>
</body>
</html>